In [ ]:
# This is a comment in python ( Hashtag is like ' // ' in C and C++ )
# this is a comment 
# Write your first comment !! 

# Lets define our first string 
s= " Hello World "

# Lets print the contents of our first string
print(s)

 Hello World

In [ ]:
# Our first input in python 
s = input("Enter : ")

print(s)

Enter : Raghav
Raghav

In [ ]:
# What is the length of this dna sequence ? 
s="tgctgccaggttgcagtgccctgattcacttacctatatatttgattacttaagccaatagcgttggaaactttga"
print()

76

In [ ]:
# Print the 3rd letter in the string 
s ="ssjnsjns"

print()

In [ ]:
# Lets loop through the string using for loop and in operator method 1


#  loop through the string using for loop method 2 will be told later !!

In [ ]:
# Lets loop through the string using a while loop 

string ="jdbdjbdjbqpow"
index=0

while index<len(string):
  letter = string[index]
  print(index,letter)
  index=index+1

0 j
1 d
2 b
3 d
4 j
5 b
6 d
7 j
8 b
9 q
10 p
11 o
12 w

In [ ]:
# String Slicing

In [ ]:
# Given an email address , How to check if the email has gmail as its domain 

email = input()

In [ ]:
# String comparison 

string1="AA"
string2="AB"

# which string is greater than the other ?

In [1]:
# Find the length of domain name in email 
# Example gmail.com has length 
email=input()

raghav@gmail.com
-10

In [ ]:
# join method to create a string 

# Lists coming up next !! 

a = ["SRA","vjti.ac.in"]  # Just like arrays in C/C++ , equivalent to char* s ={"SRA","vjti.ac.in"} in C

#Convert a to string 

mail_str = "@".join(a)

print(mail_str)

SRA@vjti.ac.in

In [ ]:
# Split a string into its components !

sentence = "Welcome to MARIO everyone"

# Extract all the words in the string and store them in a list 

word_list = sentence.split(" ")

print(word_list)

['Welcome', 'to', 'MARIO', 'everyone']

In [ ]:
# Our first list (Arrays in python)
l = []
# Print out first list 
print(l)

[1, 2, 3, False, 'hello world']

In [ ]:
# A list in python need not contain the same datatype throughout unlike arrays in C or C++

l =                    # A list can even contain another list !
print(l)

In [ ]:
# Accessing Lists 

l = ["This is MARIO ", 10 , True , ["ROS","Python",1,2,False] ]

print(l[0])
print(l[2])
print(l[-1])

In [ ]:
# List are Mutable 

a = ["This","is","wrong"]

print(a)

In [ ]:
#Length of a list 
li = [1,2,192,"MARIO"]
print(len(li))

4

In [ ]:
# Range function - IMPORTANT ! 

a=range(12)

print(list(a))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
# Universal method to iterate any object in python 

s = "This is a string "

#Print all characters one by one in the string

In [ ]:
# List slicing 
print(l[1:3])

# print every second element in list 
print(l[::2])

In [ ]:
# Append to a list 

l= [1,2,3]

In [ ]:
# Sort a list 

marks = [99,78,36,10,88]


print(marks)

[10, 36, 78, 88, 99]

In [ ]:
# Common list functions

In [ ]:
# Our first dictionary !!


print(prices)

In [ ]:
# Assigning key value pairs into empty dict 

purse = {} # You can use dict() too 


print()

In [ ]:
# Updating Dict 

purse['candy']=purse['candy']+2
print(purse['candy'])

In [ ]:
# Is candy in my dictionary ? 

#Yes! 

# Is chocolate in my dictionary ?

# NO !

In [ ]:
# Very important ! 

# Get frequency of each character present in a string 

s="Mario is a great workshop"

In [ ]:
#Looping through dictionaries which is same as looping through keys

In [ ]:
# List of keys and values 

# Looping through values

In [ ]:
# Tuples 

# Print your first tuple

In [ ]:
# Tuples are lists with round brackets right ? Not true!
#Changing value inside a tuple
tup=(1,2,3,5)


# Can we sort a tuple ?
# Can we append to a tuple ?
# Was this possible in lists ?

In [ ]:
# Unpacking tuples !

x,y,a,b = tup

In [ ]:
# Dictionary - A list of tuples ? Key and values !

print()

# Iterate through dictionary to print key:value pairs